version: '3.7'

services:
  proxy:
    build: .
    ports:
      - "5006:5006"
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis

  redis:
    image: redis:5-alpine
    ports:
      - "6380:6379"
